apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      name: grafana
      app: grafana
  template:
    metadata:
      labels:
        name: grafana
        app: grafana
    spec:
      volumes:
        - name: vol-grafana
          persistentVolumeClaim:
            claimName: grafana-pvc
      imagePullSecrets:
        - name: jfrog-docker-auth
      containers:
        - name: grafana
          image: grafana/grafana:12.2.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: server
              containerPort: 3000
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /robots.txt
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          volumeMounts:
            - name: vol-grafana
              mountPath: /var/lib/grafana
