apiVersion: v1
kind: Service
metadata:
  labels:
    app: grafana
  name: grafana
  namespace: monitoring
spec:
  type: NodePort
  ports:
  - name: server
    port: 3000
    protocol: TCP
    targetPort: 3000
    nodePort: 30002
  selector:
    app: grafana
    name: grafana
