apiVersion: v1
kind: ConfigMap
metadata:
  name: github-runner-scripts
  namespace: demo-runner
data:
  runner-entrypoint.sh: |
    #!/bin/bash
    set -e
    OWNER=sh240293
    REPO=devsecops-demo
    REG_TOKEN=$(curl -sX POST \
      -H "Authorization: token ${GITHUB_PAT}" \
      -H "Accept: application/vnd.github+json" \
      https://api.github.com/repos/${OWNER}/${REPO}/actions/runners/registration-token \
      | jq -r '.token')

    cd /actions-runner

    ./config.sh --url https://github.com/${OWNER}/${REPO} --token "${REG_TOKEN}" --ephemeral --unattended --replace
    ./run.sh

