apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.12.1
          ports:
            - containerPort: 5601
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch:9200"
            - name: SERVER_PUBLICBASEURL
              value: "http://localhost:5601"
            - name: SERVER_NAME
              value: "kibana"
            - name: ELASTICSEARCH_SSL_VERIFICATIONMODE
              value: "none"
          resources:
            limits:
              memory: "1Gi"
              cpu: "500m"

