name: SonarQube Scan

on:
  push:
    branches: [ demo ]
  pull_request:
    branches: [ demo ]

env:
  SONAR_HOST_URL: http://192.168.0.101:30314

jobs:
  sonarqube:
    name: SonarQube Scan
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.15'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run tests & generate coverage
        run: |
          pytest --cov=./ --cov-report=xml

      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=demoproject
            -Dsonar.projectName="demoproject"
            -Dsonar.sources=.
            -Dsonar.python.version=3.10
            -Dsonar.python.coverage.reportPaths=coverage.xml

      - name: Check SonarQube Quality Gate
        uses: SonarSource/sonarqube-quality-gate-action@v1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
